.sidebar {
  width: 270px;
  height: 100vh;

  position: fixed;
  left: 0;
  top: 0;

  background: linear-gradient(
    180deg,
    #0f172a 0%,
    #172554 100%
  );

  padding: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  box-sizing: border-box;
  overflow: hidden;

  border-right: 1px solid rgba(255,255,255,0.08);
}

/* Logo */
.sidebar-logo {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-bottom: 45px;
}

.logo-box {
  min-width: 58px;
  height: 58px;

  background: linear-gradient(
    135deg,
    #3b82f6,
    #2563eb
  );

  border-radius: 18px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;

  box-shadow: 0 10px 30px rgba(37,99,235,0.4);
}

.sidebar-logo h2 {
  margin: 0;
  color: white;
  font-size: 23px;
  font-weight: 700;
}

.sidebar-logo p {
  margin-top: 4px;
  color: #94a3b8;
  font-size: 14px;
}

/* Navigation */
.sidebar-menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.sidebar-menu a {
  text-decoration: none;
  color: #cbd5e1;

  display: flex;
  align-items: center;
  gap: 15px;

  padding: 16px 18px;
  border-radius: 18px;

  font-size: 15px;
  font-weight: 500;

  transition: all 0.3s ease;
}

/* Hover */
.sidebar-menu a:hover {
  background: rgba(255,255,255,0.08);
  color: white;
  transform: translateX(6px);
}

/* Active Menu */
.sidebar-menu a.active {
  background: linear-gradient(
    135deg,
    #2563eb,
    #3b82f6
  );

  color: white;

  box-shadow:
    0 8px 24px rgba(37,99,235,0.35);
}

/* Logout */
.logout-btn {
  border: none;
  outline: none;

  background: rgba(255,255,255,0.08);
  color: white;

  padding: 16px;
  border-radius: 18px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  font-size: 15px;
  font-weight: 600;

  cursor: pointer;
  transition: 0.3s ease;
}

.logout-btn:hover {
  background: #ef4444;
  transform: translateY(-2px);
}

/* Main Content */
.dashboard-content,
.appointment-container,
.patient-container,
.billing-container,
.report-container {
  margin-left: 270px;
  padding: 35px;
}

/* Responsive */
@media (max-width: 768px) {
  .sidebar {
    width: 230px;
  }

  .dashboard-content,
  .appointment-container,
  .patient-container,
  .billing-container,
  .report-container {
    margin-left: 230px;
  }
}